[user]
	name = Leandros Linux
	email = dev@arvid-g.de
[color]
	ui = auto
[review "gerrit.aokp.co"]
	username = Leandros
	email = dev@arvid-g.de
[review "gerrit.sudoservers.com"]
	username = Leandros
	email = dev@arvid-g.de
[credential]
	helper = cache --timeout=3600
[alias]
	st = status -sb
	co = checkout
	df = difftool
	standup = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cD) %C(bold blue)<%an>%Creset' --since yesterday --author 'Leandros Linux'
	ignored = ls-files --others -i --exclude-standard
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	pa = push --all
	change = log --pretty=\"- \"%s --first-parent --color
	ps = "!f() { git stash -u; git pull --rebase origin master; git stash apply stash@{0}; git stash drop stash@{0}; }; f"
[core]
	editor = vim
	filemode = false
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[mergetool]
    prompt = false
[merge]
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
[github]
	user = leandros
[ghi]
	token = !security find-internet-password -a leandros -s github.com -l 'ghi token' -w
