[user]
    name = Arvid Gerstmann
    email = dev@arvid-g.de
[color]
    ui = auto
[credential]
    helper = cache --timeout=3600
[alias]
    # One letter short aliases
    a = add -p
    c = commit
    f = fetch -p
    p = push -u
    r = reset

    # Two letter short aliases
    st = status -sb
    co = checkout
    cod = checkout --detach
    df = difftool
    dc = diff --cached
    cp = cherry-pick
    mt = mergetool

    # Reset aliases
    r = reset
    r1 = reset HEAD^
    r2 = reset HEAD^^
    rh = reset --hard
    rh1 = reset HEAD^ --hard
    rh2 = reset HEAD^^ --hard

    # Stash aliases
    sl = stash list
    sa = stash apply
    ss = stash save
    sp = stash pop
    stsh = stash --keep-index --include-untracked
    staash = stash --include-untracked
    staaash = stash --all

    # Serve
    serve = daemon --reuseaddr --verbose --base-path=. --export-all ./.git

    # Push aliases
    pa = push --all
    po = push -u origin master
    pd = push -u origin dev

    # Log aliases
    fl = log -u
    lg = log --color --graph --date=iso --pretty=format:'%C(yellow)%h%C(reset) %C(green)%ai%x08%x08%x08%x08%x08%x08%x08%x08%x08%C(reset) %<(20)%C(blue)%an%C(reset) %C(red)%d%C(reset) %s' --abbrev-commit
    llog = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
    plog = log --graph --pretty='format:%C(red)%d%C(reset) %C(yellow)%h%C(reset) %ar %C(green)%aN%C(reset) %s'
    tlog = log --stat --color --graph --pretty=oneline --abbrev-commit --date=relative
    blog = log --branches --not --remotes --simplify-by-decoration --decorate --oneline
    date-log = log --color --all --date-order --date=iso --abbrev-commit --pretty=format:'%C(yellow)%h%C(reset) %C(green)%ai%x08%x08%x08%x08%x08%x08%x08%x08%x08%C(reset) %<(25)%C(blue)%an%C(reset) %C(red)%d%C(reset) %s'

    # Merge aliases
    ff = merge --ff-only
    noff = merge --no-ff

    # Archiving
    # $ git mirror <URL>
    # $ cd repo.git
    # $ git arch repo.bundle
    # $ tar czf repo.bundle.tar.gz repo.bundle
    mirror = clone --mirror
    arch = "!f() { git bundle create \"${GIT_PREFIX}$1\" --all; }; f"

    standup = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cD) %C(bold blue)<%an>%Creset' --since yesterday --author 'Arvid Gerstmann'
    yesterday = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cD) %C(bold blue)<%an>%Creset' --since '2 days ago' --author 'Arvid Gerstmann'
    ignored = ls-files --others -i --exclude-standard
    change = log --pretty=\"- \"%s --first-parent --color
    ours = "!f() { git co --ours $@ && git add $@; }; f"
    theirs = "!f() { git co --theirs $@ && git add $@; }; f"
    ps = "!f() { git stash -u; git pull --rebase origin master; git stash apply stash@{0}; git stash drop stash@{0}; }; f"
    rank = shortlog -sn --no-merges
    bdm = "!git branch --merged | grep -v '*' | xargs -n 1 git branch -d"
    lazy = commit --allow-empty-message -am \"\"
    out = push

    # Gerrit
    fc = "!f() { rev=$(echo \"$1\" | sed -E 's|[0-9]+([0-9]{2})/[0-9]+|\\1|g'); git fetch gerrit refs/changes/$rev/$1; }; f"
    fcc = "!f() { rev=$(echo \"$1\" | sed -E 's|[0-9]+([0-9]{2})/[0-9]+|\\1|g'); git fetch gerrit refs/changes/$rev/$1 && git checkout FETCH_HEAD}; f"
    pg = push gerrit HEAD:refs/for/master

[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
	precomposeUnicode = true
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true
[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path =
[mergetool "p4merge"]
    cmd = p4merge -db \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[difftool "p4merge"]
    cmd = p4merge -db \"$LOCAL\" \"$REMOTE\"
[mergetool "bc"]
    path = "C:/Program Files/Beyond Compare 4/bcomp.exe"
[difftool "bc"]
    path = "C:/Program Files/Beyond Compare 4/bcomp.exe"
[mergetool "diffmerge"]
    cmd = \"C:/Program Files/SourceGear/Common/DiffMerge/sgdm.exe\" -merge -result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
    trustExitCode = true
[difftool "diffmerge"]
    cmd = \"C:/Program Files/SourceGear/Common/DiffMerge/sgdm.exe\" \"$LOCAL\" \"$REMOTE\"
[mergetool "diffviewnvim"]
    cmd = nvim -n -c "DiffviewOpen" "$MERGE"
[mergetool "nvimdiff"]
    layout = "LOCAL,BASE,REMOTE / MERGED"
[mergetool]
    prompt = false
    keepTemporaries = false
[merge]
    tool = diffviewnvim
    conflictstyle = diff3
[difftool]
    prompt = false
[diff]
    tool = p4merge
    colorMoved = zebra
[github]
    user = leandros
[ghi]
    token = !security find-internet-password -a leandros -s github.com -l 'ghi token' -w
[pull]
    rebase = true
[rebase]
    autoStash = true
    updateRefs = true
[push]
    default = simple
	autoSetupRemote = true
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f
[init]
	defaultBranch = master
[commit]
	template = ~/.committemplate.txt
