# Rubbish
.DS_Store

# Better be safe, than sorry.
id_rsa
id_rsa*
*id_rsa*
certificates

# Ctags
tags
tags.temp
tags.lock

# Goobook cache / credentials
cache_*
auth_*.json

AppData/Roaming/lazygit/state.yml
.config/configstore/update-notifier-@aws-amplify
.config/configstore/update-notifier-npm.json
AppData/Roaming/Code/User/globalStorage
AppData/Roaming/Code/User/sync
AppData/Roaming/Code/User/workspaceStorage
.config/coc/extensions/node_modules