# Rubbish
.DS_Store

# Better be safe, than sorry.
id_rsa
id_rsa*
*id_rsa*
certificates

# Ctags
tags
tags.temp
tags.lock

# Goobook cache / credentials
cache_*
auth_*.json

AppData/Roaming/lazygit/state.yml