###############################################################################
## GNU Readline Settings
$include /etc/inputrc

# General settings
set bell-style none
set show-all-if-ambiguous on
set completion-ignore-case on
set menu-complete-display-prefix on

# Enable vi mode
set editing-mode vi

# Set bar & block cursor in Vi modes
set show-mode-in-prompt on
set vi-ins-mode-string \1\e[6 q\2
set vi-cmd-mode-string \1\e[2 q\2


###############################################################################
## Normal mode bindings
set keymap vi-command

"b": backward-char
"s": forward-char
"B": backward-word
"S": forward-word
"u": vi-undo
"j": vi-redo
"$": end-of-line
"^": beginning-of-line

"r": history-search-backward
"n": history-search-forward

TAB: menu-complete
"\e[Z": menu-complete-backward


###############################################################################
## Insert mode bindings
set keymap vi-insert

"\Cr": reverse-search-history
"\Cn": forward-search-history

TAB: menu-complete
"\e[Z": menu-complete-backward

